.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
 background-image: var(--background-color);
  }
  
  .about-header {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-text {
    text-align: center;
    font-size: 18px;
    width: 80%;
  }
  
  @media (max-width: 600px) {
    .about-text {
      width: 90%;
    }
  }
  #port {
    height: 400px;
    width: 400px;
  }
   
  h1{
    color: black;
  }
