.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(196, 157, 30);
  }
  
  .home-header {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home-text {
    text-align: center;
    font-size: 18px;
    width: 80%;
  }
  
  @media (max-width: 600px) {
    .home-text {
      width: 90%;
    }
  }
  