.footer {
    background-color: lightgray;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: var(--background-color);
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  