

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


:root {
  --background-color: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  --text--color: white;

}












.App{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar{
  list-style: none;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}